<html>

<body>
  <%- include('../partials/header.ejs') %>
  <img src="<%-user.pfp%>"></img>
  <form ref='uploadForm' id='uploadForm' action='/api/changePfp' method='post' encType="multipart/form-data">
    <input type="file" name="image" />
    <input type='submit' value='Upload!' />
  </form>
</body>

</html>
<style>
  #searchbar {
    bottom: -10px
  }
</style>