<html>
    <main class='container' style="background-color: black; color: white">
        <span class='particle'>4</span>
        <span class='particle'>4</span>
        <span class='particle'>4</span>
        <span class='particle'>4</span>
        <span class='particle'>4</span>
        <span class='particle'>4</span>
        <span class='particle'>4</span>
        <span class='particle'>4</span>
        <span class='particle'>4</span>
        <span class='particle'>4</span>
        <span class='particle'>4</span>
        <span class='particle'>4</span>
        <span class='particle'>4</span>
        <span class='particle'>4</span>
        <span class='particle'>4</span>
        <span class='particle'>4</span>
        <span class='particle'>4</span>
        <span class='particle'>4</span>
        <span class='particle'>4</span>
        <span class='particle'>4</span>
        <span class='particle'>4</span>
        <span class='particle'>4</span>
        <span class='particle'>4</span>
        <span class='particle'>4</span>
        <span class='particle'>4</span>
        <span class='particle'>4</span>
        <span class='particle'>4</span>
        <span class='particle'>4</span>
        <span class='particle'>4</span>
        <span class='particle'>4</span>
        <span class='particle'>4</span>
        <span class='particle'>4</span>
        <span class='particle'>4</span>
        <span class='particle'>4</span>
        <span class='particle'>4</span>
        <span class='particle'>4</span>
        <span class='particle'>4</span>
        <span class='particle'>4</span>
        <span class='particle'>4</span>
        <span class='particle'>4</span>
        <span class='particle'>0</span>
        <span class='particle'>0</span>
        <span class='particle'>0</span>
        <span class='particle'>0</span>
        <span class='particle'>0</span>
        <span class='particle'>0</span>
        <span class='particle'>0</span>
        <span class='particle'>0</span>
        <span class='particle'>0</span>
        <span class='particle'>0</span>
        <span class='particle'>0</span>
        <span class='particle'>0</span>
        <span class='particle'>0</span>
        <span class='particle'>0</span>
        <span class='particle'>0</span>
        <span class='particle'>0</span>
        <span class='particle'>0</span>
        <span class='particle'>0</span>
        <span class='particle'>0</span>
        <span class='particle'>0</span>
        <span class='particle'>0</span>
        <span class='particle'>0</span>
        <span class='particle'>0</span>
        <span class='particle'>0</span>
        <span class='particle'>0</span>
        <span class='particle'>0</span>
        <span class='particle'>0</span>
        <span class='particle'>0</span>
        <span class='particle'>0</span>
        <span class='particle'>0</span>
        <span class='particle'>0</span>
        <span class='particle'>0</span>
        <span class='particle'>0</span>
        <span class='particle'>0</span>
        <span class='particle'>0</span>
        <span class='particle'>0</span>
        <span class='particle'>0</span>
        <span class='particle'>0</span>
        <span class='particle'>0</span>
        <span class='particle'>0</span>
        <article class='content'">
          <p>Welcome stranger,</p>
          <p>To the <strong>404</strong> galaxy.</p>
          <p>
            <button onclick="window.location.href='/'">Go back to earth.</button>
          </p>
        </article>
      </main>
      
</html>
<style>
    body {
  margin: 0;
  font-size: 20px;
}

* {
  box-sizing: border-box;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: white;
  color: black;
  font-family: arial, sans-serif;
  overflow: hidden;
}

.content {
  position: relative;
  width: 600px;
  max-width: 100%;
  margin: 20px;
  background: white;
  padding: 60px 40px;
  text-align: center;
  box-shadow: -10px 10px 67px -12px rgba(0, 0, 0, 0.2);
  opacity: 0;
  animation: apparition 0.8s 1.2s cubic-bezier(0.39, 0.575, 0.28, 0.995) forwards;
}
.content p {
  font-size: 1.3rem;
  margin-top: 0;
  margin-bottom: 0.6rem;
  letter-spacing: 0.1rem;
  color: #595959;
}
.content p:last-child {
  margin-bottom: 0;
}
.content button {
  display: inline-block;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  border: 3px solid #595959;
  background: transparent;
  font-size: 1rem;
  color: #595959;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

.particle {
  position: absolute;
  display: block;
  pointer-events: none;
}
.particle:nth-child(1) {
  top: 59.186189889%;
  left: 17.8041543027%;
  font-size: 11px;
  filter: blur(0.02px);
  animation: 37s float infinite;
}
.particle:nth-child(2) {
  top: 53.1400966184%;
  left: 14.5914396887%;
  font-size: 28px;
  filter: blur(0.04px);
  animation: 24s floatReverse infinite;
}
.particle:nth-child(3) {
  top: 7.738814994%;
  left: 93.4761441091%;
  font-size: 27px;
  filter: blur(0.06px);
  animation: 33s float2 infinite;
}
.particle:nth-child(4) {
  top: 95.4489544895%;
  left: 33.5636722606%;
  font-size: 13px;
  filter: blur(0.08px);
  animation: 35s floatReverse2 infinite;
}
.particle:nth-child(5) {
  top: 24.4498777506%;
  left: 49.115913556%;
  font-size: 18px;
  filter: blur(0.1px);
  animation: 33s float2 infinite;
}
.particle:nth-child(6) {
  top: 13.5265700483%;
  left: 11.673151751%;
  font-size: 28px;
  filter: blur(0.12px);
  animation: 38s float2 infinite;
}
.particle:nth-child(7) {
  top: 92.5700365408%;
  left: 12.7326150833%;
  font-size: 21px;
  filter: blur(0.14px);
  animation: 23s float infinite;
}
.particle:nth-child(8) {
  top: 72.5490196078%;
  left: 54.1338582677%;
  font-size: 16px;
  filter: blur(0.16px);
  animation: 25s float infinite;
}
.particle:nth-child(9) {
  top: 76.5644171779%;
  left: 41.3793103448%;
  font-size: 15px;
  filter: blur(0.18px);
  animation: 29s floatReverse infinite;
}
.particle:nth-child(10) {
  top: 80.6888068881%;
  left: 47.3840078973%;
  font-size: 13px;
  filter: blur(0.2px);
  animation: 25s floatReverse infinite;
}
.particle:nth-child(11) {
  top: 12.823674476%;
  left: 84.0751730959%;
  font-size: 11px;
  filter: blur(0.22px);
  animation: 34s floatReverse infinite;
}
.particle:nth-child(12) {
  top: 55.2404438964%;
  left: 38.5756676558%;
  font-size: 11px;
  filter: blur(0.24px);
  animation: 27s floatReverse infinite;
}
.particle:nth-child(13) {
  top: 84.0579710145%;
  left: 74.9027237354%;
  font-size: 28px;
  filter: blur(0.26px);
  animation: 24s float2 infinite;
}
.particle:nth-child(14) {
  top: 23.5582822086%;
  left: 39.4088669951%;
  font-size: 15px;
  filter: blur(0.28px);
  animation: 36s floatReverse2 infinite;
}
.particle:nth-child(15) {
  top: 10.615199035%;
  left: 58.3090379009%;
  font-size: 29px;
  filter: blur(0.3px);
  animation: 30s floatReverse infinite;
}
.particle:nth-child(16) {
  top: 67.2350791717%;
  left: 96.9637610186%;
  font-size: 21px;
  filter: blur(0.32px);
  animation: 31s floatReverse2 infinite;
}
.particle:nth-child(17) {
  top: 96.7351874244%;
  left: 95.423563778%;
  font-size: 27px;
  filter: blur(0.34px);
  animation: 35s floatReverse2 infinite;
}
.particle:nth-child(18) {
  top: 12.7450980392%;
  left: 32.4803149606%;
  font-size: 16px;
  filter: blur(0.36px);
  animation: 31s floatReverse2 infinite;
}
.particle:nth-child(19) {
  top: 68.0641183724%;
  left: 48.4668644906%;
  font-size: 11px;
  filter: blur(0.38px);
  animation: 34s floatReverse2 infinite;
}
.particle:nth-child(20) {
  top: 75.0304506699%;
  left: 95.0048971596%;
  font-size: 21px;
  filter: blur(0.4px);
  animation: 25s float infinite;
}
.particle:nth-child(21) {
  top: 78.0722891566%;
  left: 64.0776699029%;
  font-size: 30px;
  filter: blur(0.42px);
  animation: 35s float infinite;
}
.particle:nth-child(22) {
  top: 80.195599022%;
  left: 73.673870334%;
  font-size: 18px;
  filter: blur(0.44px);
  animation: 39s floatReverse infinite;
}
.particle:nth-child(23) {
  top: 7.7669902913%;
  left: 17.578125%;
  font-size: 24px;
  filter: blur(0.46px);
  animation: 21s floatReverse2 infinite;
}
.particle:nth-child(24) {
  top: 32.2344322344%;
  left: 68.6947988224%;
  font-size: 19px;
  filter: blur(0.48px);
  animation: 27s float infinite;
}
.particle:nth-child(25) {
  top: 28.9855072464%;
  left: 42.8015564202%;
  font-size: 28px;
  filter: blur(0.5px);
  animation: 34s float infinite;
}
.particle:nth-child(26) {
  top: 2.9126213592%;
  left: 83.0078125%;
  font-size: 24px;
  filter: blur(0.52px);
  animation: 33s floatReverse infinite;
}
.particle:nth-child(27) {
  top: 79.5151515152%;
  left: 60.487804878%;
  font-size: 25px;
  filter: blur(0.54px);
  animation: 32s floatReverse2 infinite;
}
.particle:nth-child(28) {
  top: 47.6306196841%;
  left: 31.2805474096%;
  font-size: 23px;
  filter: blur(0.56px);
  animation: 33s floatReverse infinite;
}
.particle:nth-child(29) {
  top: 4.8721071864%;
  left: 49.9510284035%;
  font-size: 21px;
  filter: blur(0.58px);
  animation: 31s floatReverse2 infinite;
}
.particle:nth-child(30) {
  top: 62.1359223301%;
  left: 33.203125%;
  font-size: 24px;
  filter: blur(0.6px);
  animation: 24s float2 infinite;
}
.particle:nth-child(31) {
  top: 27.3504273504%;
  left: 7.8508341511%;
  font-size: 19px;
  filter: blur(0.62px);
  animation: 22s float2 infinite;
}
.particle:nth-child(32) {
  top: 95.5665024631%;
  left: 78.0632411067%;
  font-size: 12px;
  filter: blur(0.64px);
  animation: 23s floatReverse2 infinite;
}
.particle:nth-child(33) {
  top: 90.7317073171%;
  left: 70.5882352941%;
  font-size: 20px;
  filter: blur(0.66px);
  animation: 21s floatReverse2 infinite;
}
.particle:nth-child(34) {
  top: 62.9539951574%;
  left: 5.8479532164%;
  font-size: 26px;
  filter: blur(0.68px);
  animation: 40s float2 infinite;
}
.particle:nth-child(35) {
  top: 78.1440781441%;
  left: 43.1795878312%;
  font-size: 19px;
  filter: blur(0.7px);
  animation: 21s float infinite;
}
.particle:nth-child(36) {
  top: 61.0837438424%;
  left: 72.1343873518%;
  font-size: 12px;
  filter: blur(0.72px);
  animation: 25s floatReverse2 infinite;
}
.particle:nth-child(37) {
  top: 73.607748184%;
  left: 26.3157894737%;
  font-size: 26px;
  filter: blur(0.74px);
  animation: 31s float2 infinite;
}
.particle:nth-child(38) {
  top: 37.3006134969%;
  left: 92.6108374384%;
  font-size: 15px;
  filter: blur(0.76px);
  animation: 31s float2 infinite;
}
.particle:nth-child(39) {
  top: 53.3980582524%;
  left: 17.578125%;
  font-size: 24px;
  filter: blur(0.78px);
  animation: 34s floatReverse2 infinite;
}
.particle:nth-child(40) {
  top: 92.00968523%;
  left: 20.4678362573%;
  font-size: 26px;
  filter: blur(0.8px);
  animation: 34s float infinite;
}
.particle:nth-child(41) {
  top: 73.3413751508%;
  left: 24.2954324587%;
  font-size: 29px;
  filter: blur(0.82px);
  animation: 30s floatReverse infinite;
}
.particle:nth-child(42) {
  top: 82.6245443499%;
  left: 60.6060606061%;
  font-size: 23px;
  filter: blur(0.84px);
  animation: 40s float infinite;
}
.particle:nth-child(43) {
  top: 94.0606060606%;
  left: 25.3658536585%;
  font-size: 25px;
  filter: blur(0.86px);
  animation: 21s floatReverse2 infinite;
}
.particle:nth-child(44) {
  top: 37.2549019608%;
  left: 51.1811023622%;
  font-size: 16px;
  filter: blur(0.88px);
  animation: 40s float2 infinite;
}
.particle:nth-child(45) {
  top: 11.5662650602%;
  left: 94.1747572816%;
  font-size: 30px;
  filter: blur(0.9px);
  animation: 34s floatReverse infinite;
}
.particle:nth-child(46) {
  top: 3.9457459926%;
  left: 89.0207715134%;
  font-size: 11px;
  filter: blur(0.92px);
  animation: 23s float infinite;
}
.particle:nth-child(47) {
  top: 74.4860943168%;
  left: 46.7380720545%;
  font-size: 27px;
  filter: blur(0.94px);
  animation: 21s float2 infinite;
}
.particle:nth-child(48) {
  top: 84.7746650426%;
  left: 58.7659157689%;
  font-size: 21px;
  filter: blur(0.96px);
  animation: 26s float infinite;
}
.particle:nth-child(49) {
  top: 79.6116504854%;
  left: 27.34375%;
  font-size: 24px;
  filter: blur(0.98px);
  animation: 28s floatReverse2 infinite;
}
.particle:nth-child(50) {
  top: 4.8367593712%;
  left: 2.9211295034%;
  font-size: 27px;
  filter: blur(1px);
  animation: 25s float infinite;
}
.particle:nth-child(51) {
  top: 0.9673518742%;
  left: 96.3972736125%;
  font-size: 27px;
  filter: blur(1.02px);
  animation: 38s floatReverse infinite;
}
.particle:nth-child(52) {
  top: 77.2616136919%;
  left: 48.1335952849%;
  font-size: 18px;
  filter: blur(1.04px);
  animation: 28s floatReverse2 infinite;
}
.particle:nth-child(53) {
  top: 8.7591240876%;
  left: 80.2348336595%;
  font-size: 22px;
  filter: blur(1.06px);
  animation: 40s float infinite;
}
.particle:nth-child(54) {
  top: 26.0554885404%;
  left: 75.8017492711%;
  font-size: 29px;
  filter: blur(1.08px);
  animation: 34s float infinite;
}
.particle:nth-child(55) {
  top: 9.828009828%;
  left: 67.0611439842%;
  font-size: 14px;
  filter: blur(1.1px);
  animation: 38s floatReverse infinite;
}
.particle:nth-child(56) {
  top: 7.8239608802%;
  left: 79.5677799607%;
  font-size: 18px;
  filter: blur(1.12px);
  animation: 39s floatReverse2 infinite;
}
.particle:nth-child(57) {
  top: 40.245398773%;
  left: 43.3497536946%;
  font-size: 15px;
  filter: blur(1.14px);
  animation: 36s floatReverse infinite;
}
.particle:nth-child(58) {
  top: 59.2952612394%;
  left: 18.5728250244%;
  font-size: 23px;
  filter: blur(1.16px);
  animation: 32s floatReverse infinite;
}
.particle:nth-child(59) {
  top: 17.3703256936%;
  left: 93.2944606414%;
  font-size: 29px;
  filter: blur(1.18px);
  animation: 34s floatReverse2 infinite;
}
.particle:nth-child(60) {
  top: 2.9020556227%;
  left: 96.3972736125%;
  font-size: 27px;
  filter: blur(1.2px);
  animation: 31s floatReverse infinite;
}
.particle:nth-child(61) {
  top: 85.5407047388%;
  left: 44.9657869013%;
  font-size: 23px;
  filter: blur(1.22px);
  animation: 33s float infinite;
}
.particle:nth-child(62) {
  top: 47.0012239902%;
  left: 11.7994100295%;
  font-size: 17px;
  filter: blur(1.24px);
  animation: 36s float2 infinite;
}
.particle:nth-child(63) {
  top: 37.3006134969%;
  left: 42.3645320197%;
  font-size: 15px;
  filter: blur(1.26px);
  animation: 28s floatReverse2 infinite;
}
.particle:nth-child(64) {
  top: 15.4402895054%;
  left: 67.055393586%;
  font-size: 29px;
  filter: blur(1.28px);
  animation: 28s float2 infinite;
}
.particle:nth-child(65) {
  top: 11.6082224909%;
  left: 20.4479065239%;
  font-size: 27px;
  filter: blur(1.3px);
  animation: 31s float infinite;
}
.particle:nth-child(66) {
  top: 93.8331318017%;
  left: 21.4216163583%;
  font-size: 27px;
  filter: blur(1.32px);
  animation: 21s floatReverse infinite;
}
.particle:nth-child(67) {
  top: 63.7254901961%;
  left: 84.6456692913%;
  font-size: 16px;
  filter: blur(1.34px);
  animation: 22s floatReverse2 infinite;
}
.particle:nth-child(68) {
  top: 30.0606060606%;
  left: 84.8780487805%;
  font-size: 25px;
  filter: blur(1.36px);
  animation: 33s float infinite;
}
.particle:nth-child(69) {
  top: 90.7117008444%;
  left: 78.7172011662%;
  font-size: 29px;
  filter: blur(1.38px);
  animation: 35s floatReverse2 infinite;
}
.particle:nth-child(70) {
  top: 17.3913043478%;
  left: 51.5564202335%;
  font-size: 28px;
  filter: blur(1.4px);
  animation: 33s float infinite;
}
.particle:nth-child(71) {
  top: 21.5422276622%;
  left: 79.6460176991%;
  font-size: 17px;
  filter: blur(1.42px);
  animation: 23s float infinite;
}
.particle:nth-child(72) {
  top: 0.97799511%;
  left: 5.8939096267%;
  font-size: 18px;
  filter: blur(1.44px);
  animation: 32s float2 infinite;
}
.particle:nth-child(73) {
  top: 9.8159509202%;
  left: 38.4236453202%;
  font-size: 15px;
  filter: blur(1.46px);
  animation: 36s floatReverse infinite;
}
.particle:nth-child(74) {
  top: 2.9020556227%;
  left: 91.5287244401%;
  font-size: 27px;
  filter: blur(1.48px);
  animation: 37s floatReverse infinite;
}
.particle:nth-child(75) {
  top: 56.038647343%;
  left: 81.7120622568%;
  font-size: 28px;
  filter: blur(1.5px);
  animation: 23s float infinite;
}
.particle:nth-child(76) {
  top: 69.0505548705%;
  left: 3.9564787339%;
  font-size: 11px;
  filter: blur(1.52px);
  animation: 36s floatReverse infinite;
}
.particle:nth-child(77) {
  top: 95.652173913%;
  left: 53.5019455253%;
  font-size: 28px;
  filter: blur(1.54px);
  animation: 38s floatReverse infinite;
}
.particle:nth-child(78) {
  top: 57.7723378213%;
  left: 66.8633235005%;
  font-size: 17px;
  filter: blur(1.56px);
  animation: 32s floatReverse2 infinite;
}
.particle:nth-child(79) {
  top: 2.9375764994%;
  left: 21.6322517207%;
  font-size: 17px;
  filter: blur(1.58px);
  animation: 38s floatReverse infinite;
}
.particle:nth-child(80) {
  top: 21.2817412334%;
  left: 46.7380720545%;
  font-size: 27px;
  filter: blur(1.6px);
  animation: 30s float infinite;
}

@keyframes apparition {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(180px);
  }
}
@keyframes floatReverse {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-180px);
  }
}
@keyframes float2 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(28px);
  }
}
@keyframes floatReverse2 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-28px);
  }
}
</style>