<!DOCTYPE html>
<html style="font-size: 16px;">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="keywords" content="A affordable solution to gaming gear..., In your local area.">
  <meta name="description" content="">
  <meta name="page_type" content="np-template-header-footer-from-plugin">
  <title>Home</title>
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <link rel="stylesheet" href="/css/nicepage.css" media="screen">
  <link rel="stylesheet" href="/css/Home.css" media="screen">
  <script class="u-script" type="text/javascript" src="/js/jquery.js"></script>
  <script class="u-script" type="text/javascript" src="/js/nicepage.js"></script>
  <link id="u-theme-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
  <link id="u-page-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Barlow:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">




  <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "",
		"logo": "images/2handgaming1.png"
}</script>
  <meta property="og:title" content="Home">
  <meta property="og:type" content="website">
  <meta name="theme-color" content="#478ac9">
</head>

<body class="u-body">
  <%- include('partials/header.ejs') %>
  <section class="u-align-left u-clearfix u-image u-section-1" id="carousel_0d21" data-image-width="1245"
    data-image-height="698">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
        <div class="u-gutter-0 u-layout">
          <div class="u-layout-row">
            <div
              class="u-align-left u-container-style u-layout-cell u-left-cell u-shape-rectangle u-size-27 u-layout-cell-1">
              <div class="u-container-layout u-container-layout-1">
                <h1 class="u-custom-font u-text u-text-body-alt-color u-text-1">A affordable solution to gaming gear...
                </h1>
                <p class="u-text u-text-body-alt-color u-text-2">Buy and sell affordable gaming gear and computer parts
                  for a low price. Interact and negotaite people in your area and region.</p>
                <a onclick="focusOnSearch()"
                  class="u-active-palette-4-base u-btn u-btn-round u-button-style u-custom-font u-font-raleway u-hover-palette-4-base u-palette-1-base u-radius-50 u-text-body-alt-color u-btn-1">Search</a>
                <a onclick="post()"
                  class="u-active-none base u-btn u-btn-rectangle u-button-style u-hover-none u-none u-btn-2">Post
                  your gear</a>
              </div>
            </div>
            <div class="u-align-left u-container-style u-image u-layout-cell u-right-cell u-size-33 u-image-1"
              data-image-width="712" data-image-height="602">
              <div class="u-container-layout u-valign-bottom u-container-layout-2 floating"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="u-align-left u-clearfix u-section-2" id="carousel_b1b2">
    <div class="u-clearfix u-sheet u-sheet-1">
      <img class="u-image u-image-default u-image-1" src="/images/ScreenShot2021-06-12at2.56.27PM.png" alt=""
        data-image-width="1019" data-image-height="669" id="demo">
      <h4 class="u-custom-font u-font-open-sans u-text u-text-custom-color-3 u-text-1">
        <span class="u-text-black">Buying gaming gear just got</span>&nbsp;easier
      </h4>
      <h5 class="u-custom-font u-font-open-sans u-text u-text-2">It's not just about buying a gaming setup, its buying
        and selling quality gear for affordable prices locally. Never deal with online transactions, only buy and sell
        in-person.</h5>
    </div>
  </section>
  <section class="u-align-left u-black u-clearfix u-section-3" id="sec-838e">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-image u-image-default u-image-1" style="background-image: url(/images/ScreenShot2021-06-13at12.41.24PM.png); width: 380px; height: 649px">
        <div style="position: relative; top: 24%; left: 22%; background-color: #999999; width: 50%; height: 5%">
          <p class="u-custom-font u-font-open-sans u-text" style="font-size: 20px;">Location: <span id="location" class="u-text-custom-color-3">loading...</span> 
          </p>
        </div>
        </div>
      <h2 class="u-custom-font u-font-open-sans u-text u-text-1">In your <span
          class="u-text-custom-color-3">local</span> area.
      </h2>
      <h3 class="u-custom-font u-font-open-sans u-text u-text-2">Do you want your gaming gear within minutes of driving?
        Deal locally with 2ndHandGaming right in your region.</h3>
    </div>
  </section>


  <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-cdc4">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <p class="u-small-text u-text u-text-variant u-text-1">Contact<br>
        <br>©️ 2HandGaming<br>
      </p>
    </div>
  </footer>
</body>

</html>
<script>
  function focusOnSearch() {
    document.getElementById("searchquery").focus();
    document.getElementById("searchquery").select();
  }

  function isScrolledIntoView(elem) {
    var docViewTop = $(window).scrollTop();
    var docViewBottom = docViewTop + $(window).height();
    var elemTop = $(elem).offset().top;
    var elemBottom = elemTop + $(elem).height();
    return ((elemBottom >= docViewTop) && (elemTop <= docViewBottom) && (elemBottom <= docViewBottom) && (elemTop >= docViewTop));
  }

  function sleep(ms){
        return new Promise(resolve => setTimeout(resolve, ms));
    }
    getIp();
  function getIp(){
    fetch("https://jsonip.com/").then(res => res.json()).then(json => {
      let ip = json.ip;
      fetch(`https://ipapi.co/${ip}/json/`).then(res => res.json()).then(json => {
        let text = json.city+", "+json.region_code;
        console.log(text)
        document.getElementById("location").innerText = text
      })
    })
  }
</script>
<style>

</style>